.enter-survey-box {
    background-color: #7CD7D1;
    padding: 10px 20px 30px 20px;
    border-radius: 10px;
}

.centered-box {
    margin-top: 15vh;
}

#survey-id-input {
    width: 500px;
    background-color: white;
}

.submit-button {
    margin-top: 20px !important;
    width: 100%;
}

.recent-survey {
    justify-content: left !important;
    text-align: left !important;
    font-size: 12px !important;
    width: 100%;
    height: 45px;
    margin-bottom: 20px !important;
}